@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800&family=Nunito+Sans:wght@400;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #FFFFFF;
}
.main-page__container{
    max-width: 1280px;
    margin: 0 auto;
}
header{
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid  #EDEDED;
    padding-bottom: 11px;
}
.navigation-wrapper{
    padding-top: 20px;
}
.header-navigation{
    margin-bottom: 45px;
}
.header-navigation__link{
    color: #000000;
    font-family: 'Nunito Sans';
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
    margin-right: 40px; 
}
.header-navigation__link:last-child{
    margin-right: 0;
}
.header-navigation__link:first-child{
    color: #FFFFFF;
    background: #56BBF4;
    padding: 10px 20px;
    border-radius: 4px;
}
.search-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 58%;
    height: 38px;
    background: #F2F2F2;
    border-radius: 3px;
    padding: 12px 16px;
}
.search-input{
    color: #000000;
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 14px;
    border: none;
    background: none;
}
.search-input:focus{
    outline: none;
}
.search-input[type="text"]{
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.search-button{
    background: none;
    border: none;
}
.search-image{
    width: 16px;
}
.header-contact__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header-contact__wrapper{
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #F2F2F2 0%, rgba(242, 242, 242, 0.56) 100%);
    border-radius: 24px;
    padding: 4px;
}
.header-contact__phone{
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 15px;
    margin-right: 8px;
}
.header-adress__wrapper{
    display: flex;
    flex-direction: column;
    text-align: right;
}
.header-adress__text{
    margin-bottom: -10px;
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 15px;
}
.header-adress__text:first-child{
    font-size: 12px;
    font-weight: 600;
    margin-top: -10px;
    text-transform: uppercase;
}
.header-adress__text:last-child{
    color: rgba(0, 0, 0, 0.48);
    font-size: 13px;
    font-weight: 400;
}
.sections-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 21px 0px;
}
.sections-wrapper__link{
    font-family: 'Nunito Sans';
    font-weight: 600;
    font-size: 13px;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}
.main-content__wrapper{
    position: relative;
    height: 580px;
    padding-top: 25px;
    background: linear-gradient(258.55deg, #BFE89D 0%, #A0C780 100%);
    border-radius: 12px;
}
.main-content__image{
    position: absolute;
    bottom: 0;
    right: 0;
}
.main-content__title{
    position: absolute;
    top: 33%;
    left: 10%;
}
.main-content_text{
    font-family: 'Nunito Sans';
    font-weight: 700;
    font-size: 72px;
    color: #FFFFFF;
    margin-bottom: -90px;
}
.services-container{
    margin-top: 96px;
    margin-bottom: 100px;
}
.specialist-container{
    margin-top: 96px;
    margin-bottom: 100px;
}
.information-container{
    margin-top: 96px;
    margin-bottom: 100px;
}
.diagnosis-container{
    margin-top: 96px;
    margin-bottom: 120px;
}
.slide-container__line{
    height: 1px;
    border: none;
    background: #DDDDDD;
    width: 88%;
    margin: 0 auto;
    margin-bottom: 56px;
}
.services-title{
    color: #000000;
    font-family: 'Nunito Sans';
    font-weight: 600;
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 48px;
}
.swiper{
    width: 1136px;
    overflow-x: hidden;
}
.slider-services__container{
    position: relative;
}
.slider-specialists__container{
    position: relative;
}
.slider-information__container{
    position: relative;
}
.slider-diagnosis__container{
    position: relative;
}
.swiper-pagination{
    transform: translateY(50px);
}
.swiper-pagination-bullet-active{
    background: #B6E193;
    transform: scale(1.5);
}
.swiper-button-prev::after{
    color: #000000;
    font-size: 20px;
}
.swiper-button-next::after{
    color: #000000;
    font-size: 20px;
}
.about-clinic__container{
    padding: 0 5%;
    margin-bottom: 8px;
}
.line-block{
    height: 1px;
    border: none;
    background: #DDDDDD;
    margin-bottom: 48px;
    margin-top: 48px;
}
.about-clinic__title{
    text-align: center;
    font-family: 'Nunito Sans';
    font-weight: 600;
    font-size: 22px;
    color: #000000;
}
.about-clinic__subtitle{
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 15px;
    color: #000000;
    text-align: center;
}
.about-clinic__link{
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 15px;
    color: #000000;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.24);
    padding: 5px;
    margin-left: 45%;
}
.consultation-container{
    padding: 0 5%;
}
.consultation-title{
    font-family: 'Nunito Sans';
    font-weight: 600;
    font-size: 28px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
}
.consultation-subtitle{
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    text-align: center;
}
.consultation-contact__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-bottom: 32px;
}
.consultation-contact_element{
    display: flex;
    align-items: center;
    background: linear-gradient(180deg, #F2F2F2 0%, rgba(242, 242, 242, 0.56) 100%);
    border-radius: 6px;
    padding: 20px 28px;
}
.contact-element__text{
    font-family: 'Nunito Sans';
    font-weight: 300;
    font-size: 24px;
    color: #000000;
    margin-left: 12px;
}
.communities-wrapper{
    display: flex;
    justify-content: center;
    gap: 8px;
}
.subscription-container{
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 150px;
    z-index: 100;
}
.subscription-wrapper{
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 3px;
    padding: 40px 65px 18px 65px;
    position: absolute;
    bottom: -100px;
}
.subscription-content{
    margin-right: 95px;
}
.subscription-content__title{
    font-family: 'Nunito Sans';
    font-weight: 600;
    font-size: 24px;
    color: #000000;
    margin-bottom: -15px;
}
.subscription-content__subtitle{
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}
.subscription-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subscription-form__input{
    margin-bottom: 8px;
}
.subscription{
    background: #F2F2F2;
    border-radius: 3px 0px 0px 3px;
    padding: 19px 20px;
    border: none;
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 17px;
    margin-right: -5px;
}
.subscription:focus{
    outline: none;
}
.subscription-dutton{
    color: #FFFFFF;
    padding: 19px 40px;
    background: #56BBF4;
    border-radius: 0px 3px 3px 0px;
    border: none;
    font-family: 'Nunito Sans';
    font-weight: 700;
    font-size: 16px;
    transition: .3s;
}
.subscription-dutton:hover{
    background: #418bb6;
}
.conditions-text{
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.64);
    display: flex;
    align-items: center;
}
.conditions-input{
    margin-right: 5px;
}
.conditions-input:checked{
    background: none;
}
.footer-main-sections-container{
    max-width: 1280px;
    margin: 0 auto;
}
.footer-section__wrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 72px;
}
.footer-section__element{
    display: flex;
    flex-direction: column;
    width: 20%;
}
.footer-section__line{
    margin: 10px 0;
    background: #DDDDDD;
    border: none;
    height: 1px;
}
.section-element__title{  
    font-family: 'Nunito Sans';
    font-weight: 700;
    font-size: 15px;
    color: #000000;
}
.section-element__link{
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 15px;
    color: #000000;
    text-decoration: none;
}
.footer-section__contacts{
    display: flex;
    flex-direction: column;
    width: 25%;
}
.footer-section__contacts{
    padding-top: 20px;
}
.contact-element__text__footer{
    font-size: 20px;
}
.consultation-contact_element__footer{
    padding: 10px 10px;
    margin-bottom: 6px;
}
.footer-contact__adress{
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 15px;
    color: #000000;
}
.communities-wrapper__footer{
    margin-top: 5px;
    display: flex;
    justify-content: start;
    gap: 8px;
}
.footer-down__line{
    display: flex;
    justify-content: space-between;
}
.footer-line{
    width: 40%;
    height: 1px;
    background: #DDDDDD;
    border: none;
    margin-bottom: 10px;
}
footer{
    padding-top: 200px;
    background: linear-gradient(180deg, #F2F2F2 0%, rgba(242, 242, 242, 0) 100%);
    padding-bottom: 80px;
    position: relative;
}
.footer-image{
    position: absolute;
    right: 5%;
    bottom: 8%;
}
.footer-down__container{
    display: flex;
    justify-content: space-between;
}
.footer-down__box:first-child{
    margin-right: 70px;
}
.footer-down__box:nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -40px;
}
.footer-down__text{
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 12px;
    color: #000000;
    display: flex;
    justify-content: end;
}
.start{
    display: flex;
    justify-content: start;
}
.down-text__active{
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 15px;
    color: #000000;
}
/* Вторая страница */
.page-article__container{
    max-width: 1280px;
    margin: 0 auto;
}
.sections-wrapper__line{
    height: 1px;
    background: #EDEDED;
    border: none;
}
.article-container__title{
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
}
.article-title{
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 34px;
    color: #000000;
    margin-bottom: 10px;
}
.article-container__subtitle{
    display: flex;
    justify-content: space-between;
}
.article-way{
    display: flex;
    align-items: center;
}
.article-way__text{
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    margin-right: 14px;
}
.article-way__text:last-child{
    color: rgba(0, 0, 0, 0.48);
}
.article-way__image{
    margin-right: 13px;
}
.article-information{
    display: flex;
    align-items: center;
    gap: 26px;
}
.article-information__element{
    display: flex;
    align-items: center;
}
.article-information__image{
    margin-right: 8px;
}
.article-information__text{
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.48);
}
.article-container{
    margin: 32px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.author-article__wrapper{
    display: flex;
    align-items: center;
    gap: 15px;
}
.author-article__name{
    font-family: 'Nunito Sans';
    font-weight: 600;
    font-size: 20px;
    color: #000000;
    line-height: 24px;
    margin-bottom: 5px;
}
.author-article__post{
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.64);
}
.article-description__text{
    font-family: 'Nunito Sans';
    font-weight: 300;
    font-size: 15px;
    line-height: 23px;
    color: #000000;
}
.article-description__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.article-reliability{
    display: flex;
    align-items: center;
    gap: 5px;
}
.article-reliability__text{
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color:rgba(0, 0, 0, 0.48) ;
}
.article-estimation__text{
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 13px;
    color: #000000;
}
.article-estimation{
    display: flex;
    align-items: center;
    gap: 5px;
}
.article-share__image{
    width: 28px;
}
.table-contents__wrapper{
    display: flex;
    align-items: center;
    gap: 64px;
    margin-top: 30px;
}
.table-contents__title{
    font-family: 'Nunito Sans';
    font-weight: 600;
    font-size: 28px;
    color: #000000;
}
.table-contents__line{
    height: 1px;
    width: 150%;
    border: none;
    background: #EDEDED;
    margin-bottom: 20px;
}
.table-contents__item{
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    color: #000000;
    margin-bottom: 15px;
    list-style-type: none;
}
.main-diagnosis__container{
    display: flex;
    justify-content: center;
    margin-bottom: 56px;
}
.main-diagnosis__information{
    margin-bottom: 32px;
}
.diagnosis-information__paragraph{
    font-family: 'Nunito Sans';
    font-weight: 600;
    font-size: 15px;
    line-height: 27px;
    color: #000000;
}
.diagnosis-information__paragraph:nth-child(3){
    margin-bottom: 15px;
}
.diagnosis-information__elem{
    font-size: 16px;
    font-weight: 900;
}
.diagnosis-recommendations__wrapper{
    background: linear-gradient(258.55deg, rgba(217, 239, 199, 0.56) 0%, rgba(182, 225, 147, 0.56) 100%);
    border-radius: 12px;
    padding: 28px;
    position: relative;
}
.diagnosis-recomendations__images{
    position: absolute;
    top: -22px;
    left: 47%;
}
.diagnosis-recomendations__text{
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #000000;
    text-align: center;
}
.slider-treatment__container{
    position: relative;
}
.treatment-container{
    margin-top: 96px;
    margin-bottom: 100px;
}
.main-symptoms__container{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.symptoms-information__title{
    font-family: 'Nunito Sans';
    font-weight: 600;
    font-size: 19px;
    line-height: 19px;
    color: #000000;
    margin-bottom: 32px;
}
.symptoms-information__paragraph{
    font-family: 'Nunito Sans';
    font-weight: 300;
    font-size: 15px;
    line-height: 27px;
}
.main-symptoms__information{
    margin-bottom: 32px;
}
.symptoms-information__paragraph:nth-child(3){
    margin-bottom: 15px;
}
.symptoms-recommendations__wrapper{
    width: 768px;
    padding: 32px 28px;
    background: linear-gradient(258.55deg, rgba(86, 187, 244, 0.56) 0%, rgba(182, 225, 147, 0.56) 100%);
    border-radius: 12px;    
    position: relative;
}
.symptoms-recomendations__images{
    position: absolute;
    top: -22px;
    left: 47%;
}
.symptoms-help__phone{
    display: flex;
    align-items: center;
    gap: 5px;
    background: linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 100%);
    border-radius: 24px;
    padding: 2px 5px;
    width: 26%;
    margin: 0 auto;
    margin-bottom: 6px;
}
.symptoms-recomendations__text{
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #000000;
    text-align: center;
}
.diagnostics-container{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.diagnostics-title{
    font-family: 'Nunito Sans';
    font-weight: 600;
    font-size: 19px;
    line-height: 19px;
    color: #000000;
    margin-bottom: 32px;
}
.main-diagnostics__information{
    font-family: 'Nunito Sans';
    font-weight: 300;
    font-size: 15px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 32px;
}
.diagnostic-information__list{
    margin-top: 20px;
    padding-left: 20px;
}
.diagnostic-recomendations__text{
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #000000;
    text-align: center;
}
.diagnostics-subtitle{
    font-family: 'Nunito Sans';
    font-weight: 800;
    font-size: 15px;
    line-height: 22px;
    color: #000000;
    margin: 15px 0px;
}
.read-more__container{
    padding: 64px 128px;
    background: #F2F2F2;
    border-radius: 6px;
    margin-bottom: 56px;
}
.read-more__title{
    font-family: 'Nunito Sans';
    font-weight: 600;
    font-size: 28px;
    line-height: 22px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.read-more__wrapper{
    display: flex;
    justify-content: space-between;
}
.read-more__list_item{
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 17px;
    line-height: 17px;
    margin-bottom: 15px;
    list-style: none;
    position: relative;
}
.read-more__list_item span{
    color: #000000;
}
.read-more__list_item::before{
    content: '';
    width: 8px;
    height: 8px;
    background: #A0C780;
    border-radius: 5px;
    position: absolute;
    top: 4px;
    left: -18px;
}
/* Третья страница */
.page-services__container{
    max-width: 1280px;
    margin: 0 auto;
}
.price-galery{
    margin: 32px 0px 56px 0px;
}
.price-galery td{
    padding: 0px 1px;
}
/* четвертая страница */
.page-service__container{
    max-width: 1280px;
    margin: 0 auto;
}
.article-container__title{
    margin-top: 10px;
    margin-bottom: 20px;
}
.article-title{
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 34px;
    color: #000000;
    margin-bottom: 10px;
}
.cost-box{
    background: rgba(182, 225, 147, 0.32);
    border-radius: 6px;
    padding: 5px 8px;
    position: absolute;
    top: 15%;
    right: 5%;
}
.cost-box__title{
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
}
.description-service__container{
    margin-top: 28px;
    display: flex;
    margin-bottom: 31px;
}
.description-service__images{
    margin-right: 48px;
}
.description-service__information_wrapper{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.description-service__title{
    font-family: 'Nunito Sans';
    font-weight: 700;
    font-size: 13px;
    line-height: 13px;
    margin-bottom: 7px;
}
.description-service__list_item{
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 10px;
    position: relative;
    align-items: center;
}
.description-service__list{
    padding-left: 15px;
    list-style: none;
}
.description-service__list_item::before{
    content: '';
    width: 8px;
    height: 8px;
    background: #56BBF4;
    border-radius: 5px;
    position: absolute;
    top: 4px;
    left: -15px;
}
.description-service__information_line1{
    margin-bottom: 16px;
    width: 300px;
    border: none;
    height: 1px;
    background: #EDEDED;
}
.description-service__information_line2{
    margin-bottom: 16px;
    width: 130%;
    border: none;
    height: 1px;
    background: #EDEDED
}
.description-service__information:first-child{
    margin-right: 48px;
}
.application-service__wrapper{
    background: linear-gradient(258.55deg, rgba(86, 187, 244, 0.56) 0%, rgba(182, 225, 147, 0.56) 100%);
    border-radius: 12px;
    padding: 16px;
    margin-top: 28px;
    width: 117%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.application-service__text{
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
}
.application-service__phone{
    display: flex;
    align-items: center;
    background: linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 100%);
    border-radius: 24px;
    padding: 6px;
}
/* Пятая страница */
.page-specialist__container{
    max-width: 1280px;
    margin: 0 auto;
}
.specialist-informition__container{
    display: flex;
    margin-top: 23px;
    margin-bottom: 32px;
}
.specialist-informition__wrapper{
    display: flex;
    margin-left: 48px;
}
.specialist-informition__name{
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 15px;
}
.specialist-informition__phone{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(258.55deg, rgba(86, 187, 244, 0.56) 0%, rgba(182, 225, 147, 0.56) 100%);
    border-radius: 12px;
    padding: 16px;
}
.specialist-informition__services{
    margin-left: 48px;
    width: 540px;
    padding: 32px;
    background: #F8F8F8;
    border-radius: 6px;
}
.specialist-services__title{
    font-family: 'Nunito Sans';
    font-weight: 700;
    font-size: 13px;
    line-height: 13px;
}
.specialist-services__line{
    border: none;
    height: 1px;
    background-color: #EDEDED;
    margin: 9px 0px 20px 0px;
}
.specialist-swrvices__point{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    border-radius: 3px;
    padding: 6px 16px;
    margin-bottom: 2px;
}
.services-point__text{
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #000000;
}
.services-point__link{
    text-decoration: none;
    padding-left: 16px;
    margin-top: 8px;
    position: relative;
}
.services-point__link::after{
    content: '';
    height: 1px;
    background: rgba(0, 0, 0, 0.16);
    width: 88%;
    position: absolute;
    bottom: 0;
    left:   16%;
}
.specialist-informition__additional{
    display: flex;
    justify-content: center;
    gap: 48px;
    margin-top: 64px;
    padding-left: 40px;
    margin-bottom: 64px;
}
.additional-information__title{
    font-family: 'Nunito Sans';
    font-weight: 600;
    font-size: 19px;
    line-height: 19px;
    margin-bottom: 32px;
}
.additional-information__description{
    font-family: 'Nunito Sans';
    font-weight: 300;
    font-size: 15px;
    line-height: 27px;
}
.slider-portfolio__container{
    position: relative;
}
.portfolio-container{
    margin-top: 96px;
    margin-bottom: 100px;
}
/* Шестая страница */
.page-stacionar__container{
    max-width: 1280px;
    margin: 0 auto;
}
.stacionar-cost__container{
    margin-top: 64px;
}
.stacionar-cost__title{
    font-family: 'Nunito Sans';
    font-weight: 600;
    font-size: 28px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 48px;
}
.stacionar-cost__wrapper{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 16px 28px;
}
.stacionar-cost__active{
    background: #F7F7F7;
    border-radius: 3px;
}
.stacionar-cost__subtitle{
    font-family: 'Nunito Sans';
    font-weight: 600;
    font-size: 19px;
    line-height: 19px;
    color: #000000;
    margin-bottom: 8px;
}
.stacionar-cost__button{
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #000000;
    border: none;
    background: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}
.stacionar-cost__text{
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 19px;
    line-height: px;
}
.stacionar-cost__box{
    background: rgba(182, 225, 147, 0.32);
    border-radius: 6px;
    padding: 0px 10px;
}
